.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
}

.Page {
  flex: 1 0;
}

@import './setup';

.Page,
.Header,
.Footer {
  @include media(padding, ((0 40px), (0 60px), (0 100px), (0 150px), (0 280px)));
}

@media (orientation: portrait) {
  .Page,
  .Header,
  .Footer {
    @include mediaPortrait(padding, ((0 16px), (0 20px), (0 20px), (0 35px)));
  }
}

@import './common', './components';
