.Settings {
  &-Titles {
    &-MainTitle {
      font-weight: 700;
    }
    &-InfoTitle {
      margin-top: 8px;
      color: $blue_gray;
    }
  }
}

@media (orientation: portrait) {
  .Settings-Titles-InfoTitle {
    width: 80%;
    line-height: 1.38rem;
  }
}
