.StartScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  &-Settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 248px;
    &-Text {
      display: block;
      @include media(margin-top, (20px, 24px, 32px));
      @include media(margin-bottom, (16px, 20px, 24px));
      text-align: center;
    }
    &-Image {
      @include media(width, (75px, 120px, 130px));
      @include media(height, (75px, 120px, 130px));
    }
  }
}

@media (orientation: portrait) {
  .StartScreen {
    &-Settings {
      &-Image {
        width: 124px;
        height: 124px;
      }
    }
  }
}