.Footer {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-top: 20px;
  @include media(padding-top, (10px, 12px, 8px, 12px));
  @include media(padding-bottom, (10px, 12px, 8px, 12px));
  background-color: $blue_gray_light;
  &-Link {
    color: $blue_gray;
    transition: color 0.1s ease-out;
    &:not(:last-of-type) {
      margin-right: 12px;
    }
    &:hover {
      color: $red_hovered;
    }
  }
}

@media (orientation: portrait) {
  .Footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 8px;
  }
}
