.Footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $blue_gray_light;
  &-Link {
    color: $blue_gray;
    transition: color 100ms;
    &:not(:last-of-type) {
      margin-right: 12px;
    }
    &:hover {
      color: $red_hovered;
    }
  }
}
