.Card {
  position: relative;
  display: grid;
  box-sizing: border-box;
  padding: 12px 16px 12px 56px;
  box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 1px 1px rgba(67, 68, 69, 0.3);
  border-radius: 6px;
  transition: box-shadow 0.1s ease-out;
  &::before {
    position: absolute;
    display: block;
    font-family: 'icomoon';
    font-size: 1.6rem;
    top: 15px;
    left: 25px;
  }
  &_success {
    &::before {
      color: $green;
      content: '\e901';
    }
  }
  &_failed {
    &::before {
      color: $red;
      content: '\e900';
    }
  }
  &_waiting {
    &::before {
      color: $orange;
      content: '\e902';
    }
  }
  &_static_false {
    @include media(grid-template-columns, ((7fr 2fr), (4fr 1fr), (17fr 3fr)));
    margin-bottom: 8px;
    cursor: pointer;
  }
  &_static_true {
    grid-template-rows: auto auto;
    margin-bottom: 12px;
  }
  &-DateInfo {
    display: flex;
    &-Date::before {
      content: '\e907';
    }
    &-Period::before {
      content: '\e908';
    }
  }
  &_static_false &-DateInfo {
    flex-direction: column;
    justify-content: space-between;
    opacity: 0.85;
  }
  &_static_true &-DateInfo {
    position: relative;
    justify-content: left;
    width: 100%;
    margin-top: 17px;
    &-Date {
      margin-right: 10px;
    }
    &::before {
      position: absolute;
      top: -8px;
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $blue_gray_light;
    }
  }
  &:hover:not(&_static_true) {
    box-shadow: 0px 0px 1px rgba(67, 68, 69, 0.3), 0px 2px 8px rgba(67, 68, 69, 0.3);
  }
  &-InfoWrapper {
    min-width: 0;
  }
  &-NumberNText,
  &-CommitNAuthor {
    display: flex;
  }
  &-NumberNText {
    margin-bottom: 10px;
  }
  &-CommitText {
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-BuildNumber {
    margin-right: 4px;
    &_success {
      color: $green;
    }
    &_failed {
      color: $red;
    }
    &_waiting {
      color: $orange;
    }
  }
  &-AuthorName,
  &-CommitInfo,
  &-DateInfo-Date,
  &-DateInfo-Period {
    display: flex;
    align-items: center;
    letter-spacing: 0.06px;
    &::before {
      display: inline-block;
      font-family: 'icomoon';
      font-size: 1.3rem;
      opacity: 0.3;
      margin-right: 5px;
    }
  }
  &-AuthorName::before {
    content: '\e909';
  }
  &-CommitInfo {
    display: flex;
    margin-right: 10px;
    &::before {
      content: '\e906';
    }
    &-Branch {
      margin-right: 4px;
    }
    &-CommitHash {
      opacity: 0.65;
    }
  }
}

@media (orientation: portrait) {
  .Card {
    padding: 16px 7px 16px 36px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    &::before {
      left: 12px;
      top: 16px;
      font-size: 1.3rem;
    }
    &-NumberNText,
    &-CommitNAuthor {
      display: grid;
      grid-template-rows: auto auto;
      row-gap: 8px;
      margin-bottom: 8px;
    }
    &-CommitText {
      width: 100%;
      white-space: pre-wrap;
      white-space: initial;
      overflow: initial;
    }
    &-DateInfo {
      position: relative;
      flex-direction: row !important;
      justify-content: left !important;
      width: 100%;
      margin-top: 17px;
      &-Date {
        margin-right: 10px;
      }
      &::before {
        position: absolute;
        top: -8px;
        display: block;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $blue_gray_light;
      }
    }
  }
}
