$white: #fff;
$black: #000;

$gray: #e6e6e6;
$gray_hovered: #dbdbdb;
$gray_disabled: #f2f2f2;
$gray_border: #d9d9d9;
$gray_border_focused: #b3b3b3;
$gray_background: #f2f2f2;

$blue_gray: #7f8285;
$blue_gray_dark: #434445;
$blue_gray_light: #f0f2f3;

$yellow: #fc0;
$yellow_hovered: #f2c200;
$yellow_border_focused: #B38F00;

$green: #00b341;
$red: #f33;
$red_hovered: #e00000;
$orange: #ff9a00;

